extends layout

block content
  body
    div.MainArea
      h1 用户详情
      div
        span 用户名
        span#username #{username}
      div
        span 学号
        span#sid #{sid}
      div
        span 电话
        span#phone #{phone}
      div
        span 邮箱
        span#email #{email}
      form(method="post")
        input#signout(type="submit", value="退出登录")